#envinronment files
*.db
*.lock
*.pid
*.log
*.dat
*.user*
CMakeCache.txt
sniffdogsniffd
cmake_install.cmake
Makefile
*/Makefile
CTestTestfile.cmake
*/CTestTestfile.cmake

#build dir
build/
CMakeFiles/
Testing/
