work_dir_path = ./
# log_to_file = no
# log_file_name = sds.log
db_cache_size = 512000
min_search_results_threshold = 50
allow_results_invalidation = no 

## Tor and I2P 
force_tor_proxy = yes
tor_socks5_addr = 127.0.0.1
tor_socks5_port = 9050

# tor_control_addr = 127.0.0.1
# tor_control_port = 9051
# tor_control_password = test1234
# tor_control_auth_cookie = true
# i2p_sam_addr = 127.0.0.1
# i2p_sam_port = 7656
# i2p_sam_user = user
# i2p_sam_password = test1234

web_ui_bind_addr = 127.0.0.1:8081 # Web Ui bind address and port

## To configure hidden services 
# p2p_hidden_service = tor # or i2p or none
# for i2p service p2p_bind_port is not needed
p2p_bind_addr = 127.0.0.1
p2p_bind_port = 4222

[peers]
address = 127.0.0.1:4221
#address = 10.10.0.34:4222

[blacklist_peers]
address = exampleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee.onion


# search engines

[external_search_engine]
name = Brave Search
user_agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36
search_query_url = https://search.brave.com/search?q=%s&source=desktop
results_container_element = .react-results--main
result_container_element = .LnpumSThxEWMIsDdAT17
result_url_element = .eVNpHGjtxRBq_gLOfGDr
result_url_property = href
result_title_element = .EKtkFWMYpwzMKOYr0GYm
# result_title_property = text


