work_dir_path = ./
# log_to_file = no
# log_file_name = sds.log
db_cache_size = 512000
min_search_results_threshold = 50
allow_results_invalidation = no 

## Tor Socks5 proxy 
force_tor_proxy = yes
tor_socks5_addr = 127.0.0.1
tor_socks5_port = 9050

## I2P sam addr, port, user
# i2p_sam_addr = 127.0.0.1
# i2p_sam_port = 7656
# i2p_sam_user = user
# i2p_sam_password = test1234

## To configure tor hidden services 
# tor_hidden_service=yes;
# tor_control_addr = 127.0.0.1
# tor_control_port = 9051
# tor_control_password = test1234
# tor_control_auth_cookie = yes 

## To configure i2p hidden services 
# i2p_hidden_service=no

## Configure p2p bind address and port
p2p_bind_addr = 127.0.0.1
p2p_bind_port = 4225

## Web Ui bind address and port
web_ui_bind_port = 8081
web_ui_bind_addr = 127.0.0.1

# The list of bootstrap peers
# <node id (16 byte hex uppercase)>=<node address>
[peers]
5E10D61586C19A403D5778A0821B3572 = exampleeepsite1.b32.i2p
C4550B49A693DFB3599A0D6ED7C05D4A = exampleonionhiddenservice1.onion:4221
9396E5B2281BF41C595540E0E721D8E5 = example.domain.net:4221
D1BB4F3C69964446E003F67510AA557F = 10.0.0.25:4221

[blacklist_peers]
address = exampleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee.onion


# search engines

[external_search_engine]
name = Start Page
user_agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36
search_query_url = https://www.startpage.com/sp/search?q=%s
results_container_element = .w-gl
result_container_element = .result
result_url_element = .result-link
result_url_property = href
result_title_element = .wgl-title
# result_title_property = text

