<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SniffDigSniff - Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body class="text-center">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/insert_link">Insert link</a>
    </nav>
    <div class="container">
        <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='sds_header.png') }}" alt="">
        </div>
        <form action="/search" method="get">
            <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="q"/>
            <input type="submit" class="btn btn-outline-primary" value="Search"/>
        </div>
        </form>
</body>
</html>