<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SniffDigSniff - Search</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="container">
        <div class="py-5">
        <h2>Insert Link</h2>
        </div>
        <form action="/insert_link" method="post">
            <div class="form-group">
                <label for="text_input_title">Link title</label>
                <input type="text" class="form-control rounded" id="text_input_title" placeholder="Title" aria-label="Search" name="link_title"/>
            </div>
            <div class="form-group">
                <label for="text_input_url">Link url</label>
                <input type="text" class="form-control rounded" id="text_input_url" placeholder="http://example.com or http://example344trjhsjkdlsldk.onion" aria-label="Search" name="link_url"/>
            </div>
            <div class="form-group">
                <label for="text_area_description">Link description</label>
                <textarea rows="4" class="form-control rounded" id="text_area_description" placeholder="Something..." aria-label="Search" name="link_description"></textarea>
            </div>
            
              <div class="form-group">
                <label for="data_type_combo">Link Type (cathegory)</label>
                <select class="form-control" id="data_type_combo" name="data_type">
                    <option value="links">Link</option>
                    <option value="images">Image</option>
                    <option value="videos">Video</option>
                  </select>
            </div>
            <input type="submit" class="btn btn-outline-primary" value="Insert"/>
        </form>
</body>
</html>